<html class="no-js" lang="fr">
<head>
	<meta charset="utf-8">
	<meta property="theme-color" content="#019aa5">
	<meta property="og:type" content="website">
	<meta property="og:title" content="JeuxGate" />
	<meta property="og:description" content="Le bot nommé Jeuxgate" />
	<meta property="og:url" content="https://jeuxdictator.github.io/Jeuxgate-web/" />
	<meta property="og:image" content="https://jeuxdictator.github.io/Jeuxgate-web/logo.png" />
	<title>JeuxGate</title>
	<link href="https://jeuxdictator.github.io/Jeuxgate-web/logo.png" rel="shortcut icon" type="image/png">
	<link href="https://jeuxdictator.github.io/Jeuxgate-web/index.css" rel="stylesheet">
 </head>

<div class="responsive-headline">
	<center>
		<h1>JeuxGate</h1>
	</center>
</div>
<body>
    <center>
		<ul class="menu">
			<li class="li-menu"><a class="menu-link" href="https://jeuxdictator.github.io/Jeuxgate-web/">Accueil</a></li>
			<li class="li-menu"><a href="https://jeuxgate-priv.herokuapp.com/" class="menu-link co">Se connecter</a></li>
		</ul>
        <h1>Une erreure est survenue !</h1><br></br>
        <p>Voici les détails</p><br>
        <a class="error"><%= Erreur %></a>
        <footer>
            <p>developped by Jeuxdictator</p>
        </footer>
    </center>
 
 
</body>
</html>